 #search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
      top:2px;
      border-radius:10px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 20px;
        padding: 0 2px 0 2px;
        border-radius:5px;
        
    }

        .search:hover input, .search input:focus {
            width: 220px;
            margin-left: 0px;
             border-radius:5px;
        }
        .navbar-collapse,.nav{
            color: black;
            font-size: 16px;
            line-height: 25px;
             font-family: 'Tangerine', serif;
        }
        
/*.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}
*/