@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Lato',Arial, sans-serif;
  color: #777;
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (max-width: 600px) {
  .h2 {
    font-size: 23px;
  }
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5em;
    margin: .45em 0;
    color: #333;
    padding: 0;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-size: cover;
  width: 100%;
  height: 315px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}

.top h2 {
  color: white;
  margin: 0;
  padding: 20px;
}

.lr p {
    font-family: s;
    position: absolute;
    bottom: 70px;
    left: 20px;
    color: #F4EDF6;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.cap p {
  padding: 20px;
  color: white;
  font: 12px Monaco, Mono-Space;
  margin: 0;
}

/*modal small box */
.module-small {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-size: cover;
  width: 100%;
  height: 150px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}
@media screen and (max-width: 600px) {
  .module {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
    background-size: cover;
    width: 100%;
    height: 150px;
    margin: 10px 0 0 0px;
    position: relative;
    float: left;
  }
  .lr p {
    font-size: 13px;
  }
  .img-responsive {
    width: 100%;
  }
  .ul-li {
    padding: 0px;
  }
}

.module-small:hover {
  color: blue; 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-size: cover;
  width: 100%;
  height: 150px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}
@media screen and (max-width: 600px) {

  .module-small {
      background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
      background-size: cover;
      width: 100%;
      height: 150px;
      margin: 10px 0 0 0px;
      position: relative;
      float: left;
  }
  .module-small:hover {
      background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
      background-size: cover;
      width: 100%;
      height: 150px;
      margin: 10px 0 0 0px;
      position: relative;
      float: left;
  }
}
.top h2 {
  color: white;
  margin: 0;
  padding: 20px;
}

.lr1 p {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #dadada;
    margin: 0;
    font-family: initial;
    font-weight: 500;
    font-size: medium;
}

.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.cap p {
  padding: 20px;
  color: white;
  font: 12px Monaco, Mono-Space;
  margin: 0;
}

.padding {
  padding: 3px;
}
/*small box left*/
.head {
  width: 100%;
  height: 40px;
  background-color: #eee;
  border-top: 3px solid #be1e2d;
}
.padding-all {
  padding: 0px;
}
.hot-news {
  color: #203040;
  padding-top: 6px;
}

.padd-top-bot {
  padding-top: 7px;
  padding-bottom: 7px;
}
.description {
  font-size: 18px;
  font-weight: 500;
  color: #4D4D4D;
  margin-top: 5px;
}


/*popular read*/
.border-left {
  border-left: solid thin rgba(8, 7, 7, 0.16);
}
div.hidden {
  display: block !important;
}