body {
  background-color: RGBA(231, 231, 231, 0.32);
 /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.2em;
  color: #333;*/
}
.site-nav {
  color: #1a1b18;
  max-height: 70px;
  position: relative;
}

.site-nav a { text-decoration: none; }

.site-nav .logo {
  display: inline-block;
  color: #fff;
  font-size: 1.7em;
  height: 40px;
  line-height: 1.55em;
  letter-spacing: -2px;
  text-transform: uppercase;
  padding: 0 10px;
  z-index: 0;
  /*POSITION*/
  position: relative;
}


.site-nav .logo:before {
  content: "";
  /*background: #3C91E6;*/
  z-index: -1;
  /*POSITION*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.site-nav .logo a { color: #efefef; }

.site-nav .menu {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #d9d9d9;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*POSITION*/
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
}

.site-nav .menu a {
  color: #FEFEFE;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
  display: block;
  padding: 15px;
}

.site-nav .menu a:hover {
  background: #292938;
  color: #efefef;
}

.site-nav .navBars {
  display: inline-block;
  font-size: 1.7em;
  line-height: 1.5em;
  float: right;
  /*USER SELECTION*/
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

#toggle {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -99999px;
}

#toggle:checked ~ nav .menu { display: block; }

.container {
  max-width: 960px;
  margin: 0 auto;
  /*padding: 10px;*/
}
@media screen and (min-width: 600px) {

.site-nav .navBars { display: none; }

.site-nav .container {
  background-color: #2C82C9;
  padding-top: 0;
  padding-bottom: 0;
}


.site-nav .logo { margin: 10px 0; }

.site-nav .menu {
  display: block;
  box-shadow: none;
  border: none;
  float: right;
  /*POSITION*/
  position: static;
}

.site-nav .menu li { display: inline-block; }

.site-nav .menu a {
  border: none;
  padding: 20px 10px;
  }
}

@media screen and (max-width: 600px) {
  .site-nav .menu {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #d9d9d9;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    /*POSITION*/
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
  } 
  .site-nav .menu a {
      color: #FEFEFE;
      border-bottom: 1px solid #d9d9d9;
      font-weight: bold;
      display: block;
      padding: 15px;
      background-color: #2C82C9;
}
  .site-nav .logo a {
      color: #5698ed;
  }
  .site-nav .logo {
      color: #fff;
      font-size: 1.4em;
      line-height: 1.55em;
      letter-spacing: -2px;
      text-transform: uppercase;
  }
}
.h3-title:hover {
  text-decoration: none;
}