
/*start single*/
.uk-box-grid {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(46, 46, 46, 0.1);

}
.pricing,.location {
    background-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(46, 46, 46, 0.1);
    padding: 10px;
    margin-top: 20px;
}
.describe {
    background-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(46, 46, 46, 0.1);
    padding: 10px;
    margin-top: 0px;
}
.fa-map-marker {
    font-size: 30px;
    color: #FD5B03;
}